@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html[data-theme="dark"] {
  --background: rgb(4, 4, 21);
  --foreground: #ededed;
}

html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
