@import "tailwindcss";

/* Light mode variables */

.light-mode{
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

/* Dark mode variables */
.dark-mode{
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }


/* Apply CSS variables to base elements */
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

